<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{../../static/css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/books.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/footer.css}" rel="stylesheet"/>
</head>

<body>

<div th:fragment="books-editing">
    <div id="dialogEditBook" style="width: 750px">

        <div id="formEditBook">

            <div class="popup-info">
                <form enctype="multipart/form-data" class="avatar-box" action="/saveBook" method="post">
                    <div class="avatar-box">


                        <img width="240" height="320" id="bookImage" th:src="${book.imageBase64}"/>

                        <input type="file" name="bookImage" accept="image/jpeg,image/png" id="imageUpload"/>


                    </div>

                    <div>
                        <div class="block">
                            <p th:text="ID"></p>

                            <div>
                                <input type="number" size="40" id="inputBookId" name="bookId" th:value="${book.id}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="#{subj_name}"></p>

                            <div>
                                <input type="text" size="40" id="inputBookName" name="bookName" th:value="${book.name}" required/>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{author}"></p>

                            <div>
                                <select id="authorList" name="bookAuthor">
                                    <option selected th:text="${book.author.fio}" th:value="${book.author.id}" ></option>
                                    <option th:each="author, iStat : ${authorList}" th:text="${author.fio}" th:value="${author.id}"></option>
                                </select>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{genre}"></p>

                            <div>
                                <select id="genreList" name="bookGenre">
                                    <option selected th:text="${book.genre}" th:value="${book.genre.id}"></option>
                                    <option th:each="genre, iStat : ${genreList}" th:text="${genre.name}"  th:value="${genre.id}"></option>
                                </select>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{publisher}"></p>

                            <div>
                                <select id="publisherList" name="bookPublisher">
                                    <option selected th:text="${book.publisher}" th:value="${book.publisher.id}"></option>
                                    <option th:each="publisher, iStat : ${publisherList}" th:text="${publisher.name}" th:value="${publisher.id}"></option>
                                </select>
                            </div>
                        </div>


                        <div class="block">
                            <p>ISBN</p>

                            <div>
                            <input type="text" size="40" id="isbn" name="bookISBN" th:value="${book.isbn}" required/>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{year}"></p>

                            <div>
                                <input type="number" min="0" max="2025" id="year" name="bookYear" th:value="${book.publishYear}" required/>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{page_count}"></p>

                            <div>
                                <input type="number" min="0" max="10000" id="page_count" name="bookPageCount" th:value="${book.pageCount}" required/>
                            </div>
                        </div>


                        <div class="block">
                            <p th:text="#{content}"></p>

                            <div>
                                <div class="loaded">

                                    <!-- загрузка PDF контента -->
                                    <input type="file" name="bookContent" accept="application/pdf" id="contentUpload" th:value="${book.content}"/>

                                </div>

                            </div>
                        </div>

                        <div class="block">
                            <p th:text="viewCount"></p>

                            <div>
                                <input type="number" size="40" name="bookViewCount" th:value="${book.viewCount}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="totalRating"></p>

                            <div>
                                <input type="number" size="40" name="bookTotalRating" th:value="${book.totalRating}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="totalVoteCount"></p>

                            <div>
                                <input type="number" size="40" name="bookTotalVoteCount" th:value="${book.totalVoteCount}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="avgRating"></p>

                            <div>
                                <input type="number" size="40" name="bookAvgRating" th:value="${book.avgRating}" required/>
                            </div>
                        </div>

                        <div class="block">
                            <p th:text="#{descr}"></p>
                            <textarea cols="30" id="descr" th:value="${book.descr}" name="bookDescr"></textarea>
                            <div>
                                <input type="submit" th:value="#{save}"/>
                            </div>
                        </div>

                    </div>
                </form>


            </div>

        </div>

    </div>
</div>

</body>

</html>