<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
</head>

<body>

<header th:fragment="books-header" style="background-color: #444444; height: 60px">

    <img src="images/books.png" style="height:60px; padding:10px;  margin-left: 10%;"/>

    <select id="locales" style="color:#a0a0a0; width: 175px; font-size: 14px !important; position: absolute; top: 10px; margin-left: 35%;">
        <option th:text="#{lang.change}" value=""></option>
        <option th:text="#{ua}" value="ua"></option>
        <option th:text="#{en}" value="en"></option>
        <option th:text="#{ru}" value="ru"></option>
    </select>

    <script class="lang" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script class="lang" type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('index?lang=' + selectedOption);
                }
            });
        });
    </script>

    <output th:text="#{welcome}" style=" color:lightgray; font-size: 14px; font-weight: normal; padding-top: 15px; position: absolute; top: 5px; margin-left: 65%;;"></output>

    <a th:text="#{logout}" th:href="@{/logout}" style="color:#dd993a; text-decoration: none; position: absolute; top: 20px; margin-left: 75%;"></a>

</header>

</body>

</html>