<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>

<div class="box" th:fragment="books-top">

    <div class="main2">
        <div class="module-specials">
            <div class="boxIndent">
                <ul class="box-product">

                    <li>
 <span th:each="topBook, iStat : ${topBookList}">
                        <div class="row-product">
                            <div class="featuredIndent">
                                <div class="product_image_container">

                                        <img th:src="${topBook.imageBase64}">

                                </div>
                            </div>
                        </div>
   </span>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>

</body>

</html>