<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
</head>

<body>

<nav th:fragment="books-leftmenu" class="sidenav">
    <table border="5">
        <tbody>
        <tr>
            <td>
                <div style="width: 200px; height: 35px; text-align: center;">
                    <a th:href="@{/booksPage}" class="list-group-item maingenres">
                        <output th:text="#{all_genres}" class="genre-name all-genres"></output>
                    </a>
                </div>
            </td>
        </tr>
        <tr th:each="genre, jStat : ${genreList}">
            <td>
                <div style="width: 200px; height: 35px; text-align: center;">
                    <a th:href="@{'/booksPage?genre=' + ${genre.id} + '&size=' + ${size}}" class="list-group-item all-genres">
                        <output th:text="${genre.name}" class="genre-name"></output>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</nav>

</body>

</html>