<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
</head>

<body>

<div class="genres" th:fragment="books-leftmenu">

    <!--ссылка на поиск всех жанров-->
    <a th:href="@{/index}" class="list-group-item all-genres">
        <output th:text="#{all_genres}" class="genre-name all-genres"></output>
    </a>

    <a th:href="@{/index}" class="list-group-item">
        <output th:text="test" class="genre-name"></output>
    </a>

    </div>

</body>

</html>