<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{css/books.css}" rel="stylesheet"/>
    <link th:href="@{css/footer.css}" rel="stylesheet"/>
</head>

<body>
<div th:fragment="books-template">
<table border="1" style="margin-left: 25%">
    <tbody>
    <tr th:each="bookList, iStat : ${bookLists}">
        <!--обложка книги-->
        <td th:each="book, jStat : ${bookList}" style="width: 150px; height: 200px; padding: 10px 10px 10px 10px">
            <div class="border">
                <div>
                    <div>
                        <a href="" style="height:200px; width: 150px"><img th:src="${book.imageBase64}"
                                                                           style="height:200px; width: 150px"></a>
                    </div>
                </div>
                <div class="book-info">
                    <h3 th:text="${book.name}" class="book-title"></h3>
                    <h3 th:text="${book.author.fio}" class="book-author"></h3>
                    <img src="images/see.png" class="see-count"/>
                    <span th:text="${book.viewCount}" class="view-count"></span>
                    <img src="images/star.png" class="avgRating"/>
                    <span th:text="${book.avgRating}" class="main-rating"></span>
                </div>
                <div class="admin-region" sec:authorize="hasAuthority('ADMIN')">
                    <a href="/index">
                        <img src="images/delete.png" th:alt="#{delete}" class="delete-icon"/>
                    </a>
                    <a href="/index">
                        <img src="images/edit.png" th:alt="#{edit}" class="edit-icon"/>
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<span style="margin-left: 45%">
<span th:if="${totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/booksPage(size=${size}, page=${pageNumber}, genre=${genre})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==number + 1} ? active" style="font-size: 14px; color: #fff; background: #800080; padding: 0 5px;
                                                            border-radius: 3px; font-weight: 600;}"></a>
</span>
</span>
<select id="currentPageSize" style="color:#a0a0a0; width: 50px; font-size: 14px !important;">
    <option th:text="${size}" value=""></option>
    <option th:text="10" value="10"></option>
    <option th:text="15" value="15"></option>
    <option th:text="20" value="20"></option>
    <option th:text="30" value="30"></option>
</select>
<script class="pageSize" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script class="pageSize" type="text/javascript">
    $(document).ready(function() {
        $("#currentPageSize").change(function () {
            var selectedOption = $('#currentPageSize').val();
            if (selectedOption != ''){
                window.location.replace('?size=' + selectedOption);
            }
        });
    });
</script>
</div>
</body>

</html>