<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
</head>

<body>

<header th:fragment="books-header" class="header-div">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <img src="images/books.png" style="height:50px; padding:10px;"/>



                <select id="locales" class="lang-link">
                    <option th:text="#{lang.change}" value=""></option>
                    <option th:text="#{ua}" value="ua"></option>
                    <option th:text="#{en}" value="en"></option>
                    <option th:text="#{ru}" value="ru"></option>
                </select>

                <script class="lang" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script class="lang" type="text/javascript">
                    $(document).ready(function() {
                        $("#locales").change(function () {
                            var selectedOption = $('#locales').val();
                            if (selectedOption != ''){window.location.replace('index?lang=' + selectedOption);
                            }
                        });
                    });
                </script>

            </div>

        </div>

    </nav>


</header>


</body>

</html>