<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{css/books.css}" rel="stylesheet"/>
    <link th:href="@{css/footer.css}" rel="stylesheet"/>
</head>

<body>

<header th:replace="~{books/books-header :: books-header}"></header>

<div th:replace="~{books/books-top :: books-top}"></div>

<div th:replace="~{books/books-leftmenu :: books-leftmenu}"></div>

<table border="1" style="margin-left: 25%">
    <tbody>
    <tr th:each="bookList, iStat : ${bookLists}">
        <!--обложка книги-->
        <td th:each="book, jStat : ${bookList}" style="width: 150px; height: 200px; padding: 10px 10px 10px 10px">
            <div class="border">
                <div>
                    <div>
                        <a href="" style="height:200px; width: 150px"><img th:src="${book.imageBase64}"
                                                                           style="height:200px; width: 150px"></a>
                    </div>
                </div>
                <div class="book-info">
                    <h3 th:text="${book.name}" class="book-title"></h3>
                    <h3 th:text="${book.author.fio}" class="book-author"></h3>
                    <img src="images/see.png" class="see-count"/>
                    <span th:text="${book.viewCount}" class="view-count"></span>
                    <img src="images/see.png" class="avgRating"/>
                    <span th:text="${book.avgRating}" class="main-rating"></span>
                </div>
                <div class="admin-region" sec:authorize="hasAuthority('ADMIN')">
                    <a href="/index">
                        <img src="images/delete.png" th:alt="#{delete}" class="delete-icon"/>
                    </a>
                    <a href="/index">
                        <img src="images/edit.png" th:alt="#{edit}" class="edit-icon"/>
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!--div th:if="${bookPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div-->

<footer th:replace="~{books/books-footer :: books-footer}"></footer>

</body>

</html>