<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{../../static/css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/books.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/footer.css}" rel="stylesheet"/>
</head>

<body>

<div th:fragment="publishersCatalogTemplate">
    <table border="1" style="margin-left: 25%">
        <tbody>
        <tr th:each="publisher, iStat : ${publishers}">
            <td th:text="${publisher.name}"></td>
            <td>
                <div>
                    <a th:href="@{/deletePublisher(publisherId=${publisher.id})}">
                        <img src="images/delete.png" th:alt="#{delete}" class="delete-icon"/>
                    </a>
                    <a th:href="@{/editPublisher(publisherId=${publisher.id})}">
                        <img src="images/edit.png" th:alt="#{edit}" class="edit-icon"/>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <span style="margin-left: 45%">
            <span th:if="${totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/catalogs(catalog=${selectedCatalog}, size=${size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==number + 1} ? active" style="font-size: 14px; color: #fff; background: #800080; padding: 0 5px;
                                                            border-radius: 3px; font-weight: 600;}"></a>
</span>
</span>
    <select id="currentPageSize" style="color:#a0a0a0; width: 50px; font-size: 14px !important;">
        <option th:text="${size}" value=""></option>
        <option th:text="10" value="10"></option>
        <option th:text="15" value="15"></option>
        <option th:text="20" value="20"></option>
        <option th:text="30" value="30"></option>
    </select>
    <script class="pageSize" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script class="pageSize" type="text/javascript">
        $(document).ready(function () {
            $("#currentPageSize").change(function () {
                var selectedOption = $('#currentPageSize').val();
                if (selectedOption != '') {
                    window.location.replace('/catalogs?catalog=publishers&size=' + selectedOption);
                }
            });
        });
    </script>
</div>

</body>

</html>