
body {
    background-color: #f0f0f0 !important;
    padding-top: 0;
}

.caption h4 {
    white-space: nowrap;
}

.card img {
    width: 100% !important;
    height: 180px !important;
    border-bottom: 1px solid rgba(234, 234, 234, 0.27);
}

img.see-count {
    height: 20px !important;
    width: 20px !important;
    margin-top: 2px;
}

#slider {
    width: 100%;
    height: 300px;
    margin-left: 30px;
}

#slider img {
    height: 300px !important;
    width: 100% !important;
}

.navbar {
    margin-bottom: 0 !important;
}

/*noinspection ALL*/

.book-icon img{
    vertical-align: top;
}

.book-info {
    width: 100%;
    padding: 5px 10px 10px;
}

.author {
    font-size: 15px;
    color: #363b41;
    margin-top: 10px;
    height: 40px;
}


.ui-paginator select{
    width:50px !important;
}

.box {
    width: 100%;
    height: 337px;
    background: #dd993a url("../images/bg.jpg") center top no-repeat;
}

.main2 {
    width: 1000px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.module-specials {
    border-top: none;
    position: relative;
    margin-bottom: 20px;
}

.module-specials .boxIndent {
    padding: 34px 0 0 0;
    margin: 0;
    border: none;
    background: none;
    position: relative;
}

.box-product {
    width: 100%;
    height: auto;
    list-style: none;
    position: relative;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.box-product li {
    display: block;
    float: none;
    list-style: none;
    min-height: 300px;
    width: auto;
    margin: 0 0 0 0;
    padding: 0 33px 0 56px;
    overflow: hidden;
    background: url("../images/Row-product-bot.png") left bottom no-repeat;
}

.box-product li:first-child {
    margin-bottom: -3px;
}

.box-product li div.row-product {
    float: left;
    width: 182px;
    overflow: hidden;
    position: relative;
    min-height: 245px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.module-specials .featuredIndent {
    background: none;
    border: none;
    text-align: left;
    overflow: hidden;
    position: relative;
    min-height: 301px;
    padding: 0;
    margin: 0 0 0 0;
    z-index: 1;
}

.module-specials .product_image_container {
    text-align: left;
    padding: 0;
    background: none;
    border: none;
    width: 182px;
    height: 246px;
    position: relative;
}

.module-specials .product_image_container img {
    background: #fff;
    height: 236px;
    width: 157px;
    position: relative;
    z-index: 1;
}

.module-specials .boxIndent {
    padding: 34px 0 0 0;
    margin: 0;
    border: none;
    background: none;
    position: relative;
}

.genres {
    margin-top: 20px;
}

.genre-name {
    font-size: 14px !important;
    font-weight: normal !important;
}

.admin-region {
    
    height: 30px;
    width: 100%;
}

img.delete-icon {
    opacity: 0.5;
    float: right;
    margin: 5px 10px 5px 5px;
    height: 20px !important;
    width: 15px !important;
}

img.edit-icon {
    opacity: 0.5;
    float: right;
    margin: 5px 10px 5px 5px;
    height: 20px !important;
    width: 20px !important;
}

#loading_wrapper p {
    background-color: #fde88e;
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.lang {
    float: right;
    margin-top: 2px;
    padding: 5px;
}

.lang .active {
    border-radius: 5px;
    border: 1px solid #a5a5a5;
}

ul.hr li {
    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;
}

.lang-link {
    margin: 5px;
    padding: 5px;
    color:#a0a0a0;
    width: 175px;
    font-size: 14px !important;
}

ul.nav li.colored a:hover {
    cursor: pointer;
}

ul.nav li:hover {
    background-color: #353535;
}

a.maingenres {
    border-bottom: 2px solid rgba(165, 168, 169, 0.14) !important;
    background-color: #D3D3D3 !important;
    color: #7d7d7d !important;
}

a.all-genres {
    border-bottom: 2px solid rgba(165, 168, 169, 0.14) !important;
    background-color: #f5f5f5 !important;
    color: #7d7d7d !important;
}

a label {
    cursor: pointer;
}

* {box-sizing: border-box;}
.border {
    width: 185px;
    margin: 0 auto;
    background: white;
    padding: 15px;
    border: 1px solid #F1E7E8;
}

.product-wrap a {
    display: block;
    text-decoration: none;
}

.border:hover {border-color: #4966A2;}
.book-info {padding-top: 15px;}

.book-title {
    text-align: center;
    font-weight: bold;
    font-family: "Open Sans";
    color: #162546;
    font-size: 18px;
}

.book-author  {
    text-align: center;
    font-weight: normal;
    color: #162546;
    font-family: "Open Sans";
    font-size: 14px;
}

.view-count {
    font-size: 14px;
    color: #fff;
    background:  #3cce7b;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    margin-top: 5px;
}

.sidenav {
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 100px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

input.search {
    margin-right: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: 0 solid rgba(192, 192, 192, 0.14);
    cursor: text;
    font-size: 14px;
    color: #777777;
}

.ui-tabs-panel label {
    font-weight: normal !important;
}

.ratingHolder {
    left: -5px;
    top: 10px;
    width: 210px;
    position: relative;
}
.ratingHolder .userRatingHolder {
    opacity: 0;
    transition: .1s;
}
.ratingHolder:hover .userRatingHolder, .ratingHolder.voted .userRatingHolder {opacity: 1; transition: .1s;}

.ratingHolder .userRating {
    position: absolute; top: -10px; left: -11px;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 5px;
    width: 160px; height: 31px;
}

.ratingHolder.voted .userRating {background-color: #598a86;}

.ratingHolder .passiveRatingHolder {
    position: relative;
    width: 178px; height: 37px;
    left: 50%; margin-left: -89px; display: block;
}
.ratingHolder .passiveRatingHolder > div {
    position:absolute; left: -11px; top: 0;
    height: 20px;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/2107/2107957.svg");
    background-repeat: no-repeat;
    background-size: 20px;
}
.ratingHolder .passiveRatingHolder .ratingBg {background-position: 0 0; width: 178px; z-index: 1;}
.ratingHolder .passiveRatingHolder .ratingMask {background-position: 0 -41px; z-index: 99;}

.ratingHolder .vote {
    transition: .2s;
    position: absolute; top: 0;
    cursor: pointer;
    z-index: 99999;
    width: 20px; height: 20px;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/2107/2107957.svg");
    background-repeat: no-repeat; background-position: 0 0; background-size: 20px;
}
.ratingHolder .vote:hover ~ .vote, .vote.active ~ .vote {transition: .2s; background-position: 0 0}
.ratingHolder .vote:hover, .ratingHolder.voted .vote.active {transition: .2s; background-position: 0 0}

.ratingHolder .votingHolder {direction: rtl; position: relative}

.ratingHolder .vote.onestar {left: 80%; }
.ratingHolder .vote.twostar {left: 60%; }
.ratingHolder .vote.threestar {left: 40%; }
.ratingHolder .vote.fourstar {left: 20%; }
.ratingHolder .vote.fivestar {left: 0; }

.ratingHolder.voted .vote {pointer-events:none;}

.ratingHolder.voted .vote:hover {background-position: 0 0;}
.ratingHolder.voted .vote.active ~ .vote {background-position: 0 0}
.ratingHolder.voted .vote.active:hover {background-position: 0 0}

.ratingHolder .rateNumbers {left: 5px; color: #a1a1a1;font-size: 14px;}
.ratingHolder .rateNumbers .ratingvalue {color: #2d2d2d; font-size: 14px;}
.ratingHolder .rateNumbers .bestrating {font-size: 14px;}

.ratingHolder .text {color: #4f8d88; text-align: center; margin: 0; opacity: 0; transition: .1s; height: 0;}
.ratingHolder.voted .text {opacity: 1; margin: 10px 0 0 0; transition: .1s; height: auto;}