<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{css/index.css}" rel="stylesheet"/>
</head>

<body>

<div id="login">

    <form id="login_form" action="/index" method="post">
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <span class="fontawesome-user"></span>
        <input
                type="text" id="username" name="username" class="ui-corner-all"
                required="required" placeholder="username"/>

        <span class="fontawesome-lock"></span>
        <input type="password" id="password" name="password"
               class="ui-corner-all" required="required" placeholder="password"/>


        <input type="submit" th:text="#{login}"/>

    </form>

</div>

</body>

</html>