<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{../../static/css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/books.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/footer.css}" rel="stylesheet"/>
</head>

<body>

<div th:fragment="author-editing">
    <div id="dialogEditBook" style="width: 750px">

        <div id="formEditBook">

            <div class="popup-info">
                <form class="avatar-box" action="/savePublisher" method="post">

                    <div>
                        <div class="block">
                            <p th:if="${publisher?.id}" th:text="ID"></p>

                            <div th:if="${publisher?.id}">
                                <input type="number" size="40" name="genreId" th:value="${publisher.id}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="#{name}"></p>

                            <div th:if="${publisher?.name}">
                                <input type="text" size="40" name="genreName" th:value="${publisher.name}" required/>
                            </div>
                            <div th:unless="${publisher?.name}">
                                <input type="text" size="40" name="genreName" required/>
                            </div>
                        </div>

                        <div>
                            <input type="submit" th:value="#{save}"/>
                        </div>

                    </div>
                </form>


            </div>

        </div>

    </div>
</div>

</body>

</html>