<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title th:text="#{online_library}">YummyBook</title>
    <link th:href="@{../../static/css/dialog.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/books.css}" rel="stylesheet"/>
    <link th:href="@{../../static/css/footer.css}" rel="stylesheet"/>
</head>

<body>

<div th:fragment="author-editing">
    <div id="dialogEditBook" style="width: 750px">

        <div id="formEditBook">

            <div class="popup-info">
                <form class="avatar-box" action="/saveAuthor" method="post">

                    <div>
                        <div class="block">
                            <p th:if="${author?.id}" th:text="ID"></p>

                            <div th:if="${author?.id}">
                                <input type="number" size="40" name="authorId" th:value="${author.id}" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="#{fio}"></p>

                            <div th:if="${author?.fio}">
                                <input type="text" size="40" name="authorFio" th:value="${author.fio}" required/>
                            </div>
                            <div th:unless="${author?.fio}">
                                <input type="text" size="40" name="authorFio" required/>
                            </div>
                        </div>
                        <div class="block">
                            <p th:text="#{birthday}"></p>

                            <div th:if="${date}">
                                <input type="datetime-local" size="40" name="authorBirthday" th:value="${date}" required/>
                            </div>
                            <div th:unless="${date}">
                                <input type="datetime-local" size="40" name="authorBirthday" required/>
                            </div>
                        </div>
                        <div>
                            <input type="submit" th:value="#{save}"/>
                        </div>

                    </div>
                </form>


            </div>

        </div>

    </div>
</div>

</body>

</html>